<router-outlet></router-outlet>

<div *ngIf="onShow && !isViewListningsRoute()">
<div class="div-cat">
    <ul class="ul-cat">
        <li class="li-cat">
            <h1>Job Listnings:</h1>
        </li>
        <li class="li-cat" style="margin-left: 30px;"><input type="text" id="search" name="search"></li>
        <li class="li-cat" style="margin-left: 15px;"><button>Search</button></li>
    </ul>
</div>

<div class="head-tble1">
    <ng-container *ngFor="let post of posts; let i = index">
      <div class="post-item">
        <div class="post-content">
          <div class="post-image">
            <img src="http://localhost:5000/{{ post.image }}" alt="Job Image">
          </div>
          <div class="post-details">
            <div class="job-main">
              <h2>{{ i + 1 }}. {{ post.job_title }}</h2>
            </div>
            
            <div class="post-actions">
              <div class="job-location">
                <h3>Location: {{ post.city }}, {{ post.country }}</h3>
              </div>
              
              <div class="action-buttons">
                <div style="margin-top: -40px; margin-left: 100px;">
                  <h3>Applied <i class="fad fa-check-double"></i> : {{post.applications_count}}</h3>
                </div>
                <button style="margin-top: 100px;" (click)="onShowMore(post)" class="action-button2">
                  View Listings <i class="fad fa-angle-double-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div></div>