<div class="dash-b">
    <h1>Dashboard</h1>
  
  </div>
  <div class="main-path">
    <div class="dashboard-cards">
      <div class="dashboard-card card1">
        <div class="icon"><i class="fad fa-building"></i></div>
        <p>Total Companies</p>
        <span>0{{companycount?.count}}</span>
      </div>
      <div class="dashboard-card card2">
        <div class="icon"><i class="fad fa-user-friends"></i></div>
        <p>Total jobseekers</p>
        <span>0{{seekers?.count}}</span>
      </div>
      <div class="dashboard-card card3">
        <div class="icon"><i class="fad fa-ad"></i></div>
        <p>Total job advertisement</p>
        <span>0{{adcount?.count}}</span>
      </div>
      <div class="dashboard-card card4">
        <div class="icon"><i class="fad fa-newspaper"></i></div>
        <p>Total Applications</p>
        <span>0{{appcount?.count}}</span>
      </div>
    </div>
  </div>