.dash-ul {
    background-color: #c4ebc6;
    width: auto;
    margin-left: 0;
    list-style-type: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0px;
}

.dash-ul li {
    float: left;
}

.dash-ul li a {
    margin-top: 18px;
    display: block;
    color: #177245;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 23px;
}

.dash-list1 {
    float: right;
    margin-right: 20px;
}

.dash-img {
    margin-left: 50px;
    text-align: center;
    width: 140px;
    padding: 12px 0px;
}