
.div-cat {
    margin-left: 150px;
    width: auto;
    overflow: hidden; /* Ensure the container wraps its floated children */
}

.div-cat ul {
    list-style-type: none;
    overflow: hidden; /* Clear floats */
    
}

.div-cat ul .li-cat {
    float: left; /* Float the Job Category to the left */
}

.div-cat ul .li-cat1 {
    float: right; /* Float the Create Category button to the right */

}

.div-cat ul li h1 {
    padding: 3px 14px;
    display: block;
    margin: 0; /* Remove default margin */
    cursor: auto;
    border-radius: 5px;
    background: rgb(160, 235, 160);
}

.div-cat ul li button {
    padding: 10px 15px; 
    display: block; /* Make button a block element to fill its container */
    border-radius: 7px;
    border: transparent;
    background-color: rgb(32, 131, 49);
    color: #fff;
    cursor: pointer;
    transition: .4s;
}
.div-cat ul li button:hover{
    background-color: rgb(138, 230, 120);
}

.div-cat ul li input{
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: text;
   
}
.main-table h2 {
    margin-left: 350px;
    margin-top: 25px;
    font-size: 30px;
}
.sub-table h2 {
    margin-left: 350px;
    margin-top: 25px;
    font-size: 30px;
}
.div-table {
    display: flex;
    width: 100%;

.head-tble{
    width: 900px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 10px;
}
.head-tble2{
    width: 1200px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: solid 2px rgb(32, 131, 49);
}

 table td {
    margin-left: 40px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #c4ebc6;
   margin-left: 20px;
}
table tr {
    border: solid 3px green;
    border-radius: 5px;
    
    
}

table tr:hover {
    background-color: #f5f5f5;
}

table td button {
    padding: 8px 20px;
    border: transparent;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    
}

table td .action-button1 {
    color: white;
    background: rgb(223, 83, 83);
}
table td .action-button2{
    background: rgb(125, 209, 125);
    margin-left: 20px;
}
table td .action-button1:hover {
    background: red;
}
table td .action-button2:hover {
    background: rgb(17, 145, 12);
    color: #fff;
}

}

.example-stretched-tabs {
    max-width: 800px;
    margin-left: 200px;
    margin-top: 30px;
  }
  .hh1{
    background-color: rgb(28, 141, 0);
    padding: 10px 20px;
    border-radius: 8px;
    border: transparent;
    margin-bottom: 20px;
  }