<div class="nav-div">
    <ul class="dash-ul">
        <li><img src="../../assets/img/logo/logo 04.png" alt="" class="dash-img"></li>
        <li style="margin-left: 40px;"><a>{{dashboard}}</a></li>
        <li class="dash-list1" style="float: right;"><a>
                <i class="far fa-bell"></i>
            </a></li>
        <li class="dash-list1" style="float: right;">
            <a mat-button [matMenuTriggerFor]="menu" #menuTrigger>
                <i  class="fas fa-user-circle"></i>
                <br>{{message}}
            </a></li>
    </ul>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()"><i class="fad fa-user-circle"></i>  Profile</button>
</mat-menu>