<div class="nav-div">
    <ul class="dash-ul">
        <li><img src="../../assets/img/logo/logo 04.png" alt="" class="dash-img"></li>
        <li class="dash-list1" style="float: right;"><a routerLink="/login">
                <i class="far fa-user-circle"></i>
                Login
            </a></li>
        <li class="dash-list1" style="float: right;"><a routerLink="/register">
                <i class="fad fa-user"></i>
                Register
            </a></li>
        <li class="dash-list1" style="float: right;"><a routerLink="/home">
                <i class="fad fa-home"></i>
                Home
            </a></li>
    </ul>

</div>