<div mat-dialog-title>
    <h1>Update job category</h1>
</div>
<div class="form-len">
<form [formGroup]="form" (ngSubmit)="onCategoryUpdate()">
    <div mat-dialog-content class="content">


        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Category name</mat-label>
                <input formControlName="jobcategory" matInput type="text">
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false" class="action-button1">Cancel</button>
            <button mat-raised-button color="primary" type="submit" class="action-button2">Save</button>
        </div>

    </div>
</form>
</div>