
.content {
    width: 400px;
  }
  
  .row {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 100%;
    }
  }
  .action {
    padding: 0px 30px 25px;
    button {
    flex: 1;
    }
  }
 .action button {
    padding: 12px 30px;
    border: transparent;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    gap: 10px;
}

.action .action-button1 {
    color: white;
    background: rgb(177, 174, 174);
}
.action  .action-button2{
    background: rgb(125, 209, 125);
    margin-left: 20px;
}
.action  .action-button1:hover {
    background: red;
}
.action  .action-button2:hover {
    background: rgb(17, 145, 12);
    color: #fff;
}
